CI_ENVIRONMENT=development
APP_BASE_URL=http://localhost/your-project/

DB_HOST=localhost
DB_NAME=alumni_influencer_db
DB_USER=root
DB_PASS=

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=youremail@gmail.com
SMTP_PASS=yourpassword
SMTP_FROM_EMAIL=youremail@gmail.com
SMTP_FROM_NAME="Alumni Influencer Platform"

